@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
  overflow: hidden; /* prevent screen from moving due to custom cursor */
}
*,
button {
  cursor: none; /* Remove default cursor types */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.scroll-hidden {
  overflow-y: scroll; /* Enable scrolling */
  scrollbar-width: none; /* Firefox: hide scrollbar */
}

.scroll-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari: hide scrollbar */
}

.sunken {
  box-shadow: rgb(19, 0, 0) 0px 0px 6px 1px inset;
  background-color: rgba(15, 1, 1, 0.25);
}

.raised {
  box-shadow: rgb(19, 0, 0) 0px 0px 6px 1px;
  background-color: rgba(15, 1, 1, 0.25);
  /* NEED TO FIX THIS ⬇️ ⬇️ */
  background-image: url(/images/wood.jpg);
}
